{% extends 'index.html' %}
  

  {%block content%} 

  <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover text-dark align-middle">
                    <tr class="table-secondary">
                        <th><select class="form-select" aria-label="Default select example">
                            <option selected>Titulo</option>
                            <option value="1">Asc</option>
                            <option value="2">Desc</option></select>
                        </th>
                        <th><select class="form-select" aria-label="Default select example">
                            <option selected>Autor</option>
                            <option value="1">Asc</option>
                            <option value="2">Desc</option></select>
                        </th>
                          <th><select class="form-select" aria-label="Default select example">
                            <option selected>Fecha</option>
                            <option value="1">Asc</option>
                            <option value="2">Desc</option>
                          </select></th>
                          <th><select class="form-select" aria-label="Default select example">
                            <option selected>Ranking</option>
                            <option value="1">Asc</option>
                            <option value="2">Desc</option>
                          </select></th>
                    </tr>
                    <tr>
                        <td>Titulo </td><td>Autor</td><td>Fecha </td><td>Ranking</td>
                    </tr>
                    <tr>
                        <td>Titulo </td><td>Autor </td><td>Fecha </td><td>Ranking </td>
                    </tr>
                    <tr>
                        <td>Titulo </td><td>Autor </td><td>Fecha </td><td>Ranking </td>
                    </tr>
                    <tr>
                        <td>Titulo </td><td>Autor</td><td>Fecha </td><td>Ranking </td>
                    </tr>
                    <tr>
                        <td>Titulo </td><td>Autor </td><td>Fecha </td><td>Ranking </td>
                    </tr>
                    <tr>
                        <td>Titulo </td><td>Autor </td><td>Fecha</td><td>Ranking </td>
                    </tr>                </table>
            </div>
        </div>
    </div>

    <nav aria-label="..." >
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
            <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}