
{% extends 'index.html' %}
  

{%block content%} 




    <div class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h5 class="card-title">Ultimo poema</h5>
        <p class="card-text"></p>
        <a href="poem.html" class="btn btn-primary">Ver</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h5 class="card-title">>Poema mejor rankeado del mes"</h5>
        <p class="card-text"></p>
        <a href="poem.html" class="btn btn-primary">Ver</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h5 class="card-title">Poema aleatorio</h5>
        <p class="card-text"></p>
        <a href="poem.html" class="btn btn-primary">Ver</a>
      </div>
    </div>


{% endblock %} 




